{% extends 'base.html' %}

{% block title %}Recuperar Conta - Internia{% endblock %}

{% block content %}
    <div class="max-width-center">
        <h1 class="center-text mb-14">Recuperar Conta</h1>
        {% if info %}
            <div class="card-muted">{{ info }}</div>
        {% endif %}
        <form method="POST">
            <div class="vstack">
                <div class="form-group">
                    <label>Email associado à conta</label>
                    <input type="email" name="email" placeholder="Email" required />
                </div>
                <button class="btn" type="submit">Enviar instruções</button>
            </div>
        </form>
        <div class="center-text mt-18 muted">Voltar para <a href="{{ url_for('login') }}">Login</a></div>
    </div>
{% endblock %}

