{% extends 'base.html' %}

{% block title %}Entrar - Internia{% endblock %}

{% block content %}
    <div class="max-width-center">
        <h1 class="center-text mb-14">Login</h1>
        <form method="POST">
            <div class="vstack">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="emailForm" placeholder="Email" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="passwordForm" placeholder="Password" required />
                </div>
                {% if error %}
                    <div class="error-message">{{ error }}</div>
                {% endif %}
                <div class="small">
                    <a href="{{ url_for('forgot') }}">Esqueceu a password?</a>
                    &nbsp;•&nbsp;
                    <a href="{{ url_for('recover_with_code') }}">Recuperar com código de backup</a>
                </div>
                <button class="btn" type="submit">Entrar</button>
            </div>
        </form>

        <div class="center-text mt-18 muted">Não tem conta? <a href="{{ url_for('registar') }}">Registar</a></div>
    </div>
{% endblock %}
