{% extends 'base.html' %}

{% block title %}Criar Anúncio - Internia{% endblock %}

{% block content %}
    <div class="max-width-center">
        <h1 class="mb-12">Criar Anúncio</h1>
        <form method="POST" action="{{ url_for('novo_anuncio') }}">
            <div class="vstack">
                <div class="form-group">
                    <label>Tipo de Estágio</label>
                    <select id="tipo" name="tipo" required>
                        <option value="Curricular">Curricular</option>
                        <option value="Extracurricular">Extracurricular</option>
                        <option value="Profissional">Profissional</option>
                    </select></div>
                <div class="form-group">
                    <label>Categoria</label>
                    <select id="categoria" name="categoria" required>
                        <option value="Informática: Sistemas">Informática: Sistemas</option>
                        <option value="Cozinha e Restauração">Cozinha e Restauração</option>
                        <option value="Turismo e Hotelaria">Turismo e Hotelaria</option>
                        <option value="Comércio, Vendas e Marketing">Comércio, Vendas e Marketing</option>
                        <option value="Organização de Eventos">Organização de Eventos</option>
                    </select></div>
                <div class="form-group">
                    <label>Local de Trabalho</label>
                    <input type="text" id="local_trabalho" name="local_trabalho" placeholder="Local (cidade / morada)" />
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea id="descricao" name="descricao" placeholder="Descrição" rows="3" required></textarea>
                </div>
                <div class="hstack">
                    <div class="flex-1">
                        <label>Hora Entrada</label>
                        <input type="time" id="hora_entrada" name="hora_entrada" required />
                    </div>
                    <div class="flex-1">
                        <label>Hora Saída</label>
                        <input type="time" id="hora_saida" name="hora_saida" required />
                    </div>
                </div>
                <button class="btn" type="submit">Criar Anúncio</button>
            </div>
        </form>
    </div>
{% endblock %}
