{% extends 'base.html' %}

{% block title %}Criar Anúncio - Internia{% endblock %}

{% block content %}
    <div class="max-width-center">
        <h1 class="mb-12">Criar Anúncio</h1>
        <form method="POST" action="{{ url_for('novo_anuncio') }}">
            <div class="vstack">
                <div class="form-group">
                    <label>Título</label>
                    <input type="text" id="titulo" name="titulo" placeholder="Título" required />
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea id="descricao" name="descricao" placeholder="Descrição" rows="3" required></textarea>
                </div>
                <div class="hstack">
                    <div class="flex-1">
                        <label>Hora Entrada</label>
                        <input type="time" id="hora_entrada" name="hora_entrada" required />
                    </div>
                    <div class="flex-1">
                        <label>Hora Saída</label>
                        <input type="time" id="hora_saida" name="hora_saida" required />
                    </div>
                </div>
                <button class="btn" type="submit">Criar Anúncio</button>
            </div>
        </form>
    </div>
{% endblock %}
