{% extends 'base.html' %}

{% block title %}Redefinir Password - Internia{% endblock %}

{% block content %}
    <div class="max-width-center">
        <h1 class="center-text mb-14">Redefinir Password</h1>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <form method="POST">
            <div class="vstack">
                <div class="form-group">
                    <label>Nova Password</label>
                    <input type="password" name="password" placeholder="Nova password" required />
                </div>
                <button class="btn" type="submit">Atualizar password</button>
            </div>
        </form>
        <div class="center-text mt-18 muted">Voltar para <a href="{{ url_for('login') }}">Login</a></div>
    </div>
{% endblock %}

